.App {
  text-align: center;
  flex: auto;
}

body {
  background-color: #282c34;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.titleText {
  color: aliceblue;
  font-size: 50px;
}

.inputC {
  background-color: aliceblue;
  border-radius: 5px;
  height: 25px;
  opacity: 0.9;
  margin-bottom: 20px;
}
